.root{
    -fx-background: white;
}

.chord-text{
    /*-fx-text-fill: white;
    -fx-background-color: blue;*/
    -fx-text-box-border: transparent;
    -fx-effect: null;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
}

.lyric-text{
    /*-fx-background-color: red;
    -fx-background: red;*/
    -fx-text-box-border: transparent;
    -fx-effect: null;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
}

.blank-lyric-text{
    /*-fx-background-color: green;
    -fx-background: green;*/
    -fx-text-box-border: transparent;
    -fx-effect: null;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;

}

.break-lyric-text{
    /*-fx-background-color: green;
    -fx-background: green;*/
    -fx-text-box-border: transparent;
    -fx-effect: null;
    /*-fx-background-color: -fx-control-inner-background;*/
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;

}

.text-field:focused {
    -fx-focus-color: transparent;
}

#app-center-vbox{
    -fx-border-color: red;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: dashed;
}